
@font-face {
    font-family: 'SST Arabic';
    src: url('../fonts/SSTArabic-Bold.woff2') format('woff2'),
        url('../fonts/SSTArabic-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: 'SST Arabic';
    src: url('../fonts/SSTArabic-Light.woff2') format('woff2'),
        url('../fonts/SSTArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SST Arabic';
    src: url('../fonts/SSTArabic-Roman.woff2') format('woff2'),
        url('../fonts/SSTArabic-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
 
  