// ==========Colors============

$color-primary: #37ACB9;
$color-primary--dark: #387e86;
$color-secondary: #313133;
$color-secondary--dark: #102744;
$color-gold: #B68C4B;
$color-gold--dark: #775e2df2;
$color-grey: #7B7B7B;
$color-white : #ffffff;
$color-blue: #45b7c4;
$color-blue-dark: #1e7d88;
$color-black: #000;
$color-default: #ECF5F2;
$color-dark: #020d1b;
$color-border: #1f2a40;
$color-move: #5b78c7;
